/* Variables */

:root {
  --primary-color: #4e505c;
  --secondary-color: #134609;
  --text-color-light: #d9d9d9;
  --details-color-blue: #00346b;
  --details-color-red: #c51414;
  --details-color-gray: #cccccc50;
  --bubble-tip: #12805c;
  --bubble-note: #588ef2;
  --bubble-warning: #d9534f;
  --bs-body-bg: #ffffff;
}
